{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

    {% if not user_auth %}
        <div class='col-sm-6'>
            <p class='lead'>Continue as Guest</p>
            <form method='POST' action=''>{% csrf_token %}
                {{ form|crispy }}
                <input type='submit' class='btn btn-success' value='Continue as Guest'/>
            </form>
        </div>
        <div class='col-sm-6'>
            <p class='lead'>Login to Continue</p>
            <form method='POST' action="{% url 'auth_login' %}"> {% csrf_token %}
                {{ login_form|crispy }}
                <input type='hidden' name='next' value='{{ next_url }}'/>
                <input type='submit' class='btn btn-success' value='Login'/>
            </form>
            <p class='text-center'>
            <p>{% trans "Forgot password " %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset !!" %}</a>!</p>
            <p>{% trans "Not a member " %}? <a href="{% url 'registration_register' %}">{% trans "Register !!" %}</a>!
            </p>
            </p>
        </div>
    {% else %}
        <div class="col-sm-4 col-sm-offset-4 text-center">
        <p class="lead">Order Summary</p>
            <table class="table">
                <tr>
                    <td class="text-center">
                        {{ order.cart.cartitem_set.count }} Item{{ order.cart.cartitem_set.count|pluralize }}
                        <br/>
                        {% for cart_item in order.cart.cartitem_set.all %}
                            <b>{{ cart_item.item.get_title }}</b><br/>
                        {% endfor %}
                    </td>

                </tr>
                <tr>
                    <td>Cart Subtotal : {{ order.cart.subtotal }}</td>
                </tr>
                <tr>
                    <td>Tax : {{ order.cart.tax_total }}</td>
                </tr>
                <tr>
                    <td>Item Total: {{ order.cart.total }}</td>
                </tr>
                <tr>
                    <td>Shipping : {{ order.shipping_total_price }}</td>
                </tr>
                <tr>
                    <td>Order Total : {{ order.order_total }}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4 col-sm-offset-4 text-center">
        <hr>
            <p><b>Bill To</b></p>
            <p>{{ order.billing_address.get_address }}</p>
            <hr>
            <p><b>Ship To</b></p>
            <p>{{ order.shipping_address.get_address }}</p>
            <hr>
            <a href="{% url 'order_address' %}">Change Billing/Shipping Address </a>
            <hr>
            <p><b>Complete your order</b></p>
            <a href="" class="btn btn-warning">Pay</a>
        </div>
    {% endif %}


{% endblock %}