{% extends "base.html" %}

{%  block content %}
<div class="row">
<div class="col-sm-8">
<h2>{{ object.title }}</h2>
{% if object.productimage_set.count > 0 %}
<div>
{%  for img in object.productimage_set.all %}
<img class="img-responsive" src="{{ img.image.url }}">

{% endfor %}
</div>
{% endif %}
<p class="lead">
    {{ object.description }}
</p>
</div>
<!-- Product Sidebar -->
<div class="col-sm-4">
<h3> {{ object.price }}</h3>
{% if object.variation_set.count > 1 %}
<select class="form-control">
{% for product_variation_obj in object.variation_set.all %}
<option value="{{ product_variation_obj.id }}">{{ product_variation_obj }}</option>
{% endfor %}

</select>
{% endif %}
<br/>
<a href="#">Add to Cart</a>
<br/>
<hr/>
<p>
Share<br/>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
<i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
</a>
</p>
<h4>Related Products</h4>
</div>
<!-- End Product Sidebar -->

</div>
{% endblock %}